<p class="text-4xl my-3">Járművek</p>

<p-table
  #dt1
  [value]="vehicles"
  [scrollable]="true"
  scrollDirection="horizontal"
  styleClass="p-datatable-gridlines p-datatable-striped"
  responsiveLayout="stack"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first} - {last} rekord a {totalRecords} összes rekordból."
  [globalFilterFields]="[
    'registrationNumber',
    'type',
    'year',
    'seatingCapacity',
    'maxInternalSpaceX',
    'maxInternalSpaceY',
    'maxInternalSpaceZ'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <button
        pButton
        label="Szűrők törlése"
        class="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="clear(dt1)"
      ></button>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Keresés..."
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="registrationNumber" style="min-width: 15rem">
        Rendszám <p-sortIcon field="registrationNumber"></p-sortIcon>
        <p-columnFilter
          type="text"
          field="registrationNumber"
          display="menu"
        ></p-columnFilter>
      </th>
      <th pSortableColumn="type" style="min-width: 15rem">
        Típus <p-sortIcon field="type"></p-sortIcon>
        <p-columnFilter
          type="text"
          field="type"
          display="menu"
        ></p-columnFilter>
      </th>
      <th pSortableColumn="year" style="min-width: 15rem">
        Évjárat <p-sortIcon field="year"></p-sortIcon>
        <p-columnFilter
          type="number"
          field="year"
          display="menu"
        ></p-columnFilter>
      </th>
      <th
        pSortableColumn="technicalInspectionExpirationDate"
        style="min-width: 20rem"
      >
        Műszaki vizsga lejárata
        <p-sortIcon field="technicalInspectionExpirationDate"></p-sortIcon>
        <p-columnFilter
          type="date"
          field="technicalInspectionExpirationDate"
          display="menu"
        ></p-columnFilter>
      </th>
      <th pSortableColumn="seatingCapacity" style="min-width: 15rem">
        Ülések száma <p-sortIcon field="seatingCapacity"></p-sortIcon>
        <p-columnFilter
          type="number"
          field="seatingCapacity"
          display="menu"
        ></p-columnFilter>
      </th>
      <th pSortableColumn="maxInternalSpaceX" style="min-width: 15rem">
        Magasság <p-sortIcon field="maxInternalSpaceX"></p-sortIcon>
        <p-columnFilter
          type="number"
          field="maxInternalSpaceX"
          display="menu"
        ></p-columnFilter>
      </th>
      <th pSortableColumn="maxInternalSpaceY" style="min-width: 15rem">
        Szélesség <p-sortIcon field="maxInternalSpaceY"></p-sortIcon>
        <p-columnFilter
          type="number"
          field="maxInternalSpaceY"
          display="menu"
        ></p-columnFilter>
      </th>
      <th pSortableColumn="maxInternalSpaceZ" style="min-width: 15rem">
        Mélység <p-sortIcon field="maxInternalSpaceZ"></p-sortIcon>
        <p-columnFilter
          type="number"
          field="maxInternalSpaceZ"
          display="menu"
        ></p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-vehicle>
    <tr>
      <td>{{ vehicle.registrationNumber }}</td>
      <td>{{ vehicle.type }}</td>
      <td>{{ vehicle.year }}</td>
      <td>
        {{ vehicle.technicalInspectionExpirationDate | date : "yyyy.MM.dd." }}
      </td>
      <td>{{ vehicle.seatingCapacity }} db</td>
      <td>{{ vehicle.maxInternalSpaceX }} m</td>
      <td>{{ vehicle.maxInternalSpaceY }} m</td>
      <td>{{ vehicle.maxInternalSpaceZ }} m</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">Nincsenek felvett járművek.</td>
    </tr>
  </ng-template>
</p-table>
