<div class="row flex flex-column justify-content-center align-items-center">
  <div
    class="row flex-column gap-3 mt-5 justify-content-center"
    *ngIf="givenName"
  >
    <p class="text-5xl text-center">
      Üdvözlünk a kezelőfelületen {{ givenName }}!
    </p>

    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
    ></p-image>
  </div>

  <div
    class="row flex-column gap-3 mt-5 justify-content-center"
    *ngIf="!givenName"
  >
    <p-image
      src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
      alt="Image"
    ></p-image>
  </div>
</div>
