<div class="row flex flex-column justify-content-center align-items-center">
  <div
    class="row flex-column gap-3 mt-5 justify-content-center"
    *ngIf="givenName"
  >
    <p class="h3 text-center">Üdvözlünk a kezelőfelületen {{ givenName }}!</p>

    <div class="h-100 d-flex justify-content-center">
      <img
        src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
        alt="Image"
        class="img-fluid"
      />
    </div>
  </div>

  <div
    class="row flex-column gap-3 mt-5 justify-content-center"
    *ngIf="!givenName"
  >
    <div class="h-100 d-flex justify-content-center">
      <img
        src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
        alt="Image"
        class="img-fluid"
      />
    </div>
  </div>
</div>
