<button
  mat-icon-button
  [color]="value != undefined ? 'warn' : ''"
  class="btn-toggle"
  [matMenuTriggerFor]="menu"
  (click)="$event.stopPropagation()"
>
  <mat-icon>filter_list</mat-icon>
</button>

<mat-menu #menu>
  <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
    <p class="h5">{{ title }} szűrése</p>
  </div>

  <div
    class="mb-2"
    mat-menu-item
    mat-filter-item
    [disableRipple]="true"
    (click)="$event.stopPropagation()"
  >
    <mat-form-field>
      <input matInput placeholder="Szűrési feltétel" [(ngModel)]="value" />
    </mat-form-field>
  </div>

  <div
    mat-menu-item
    mat-filter-item
    [disableRipple]="true"
    (click)="$event.stopPropagation()"
    class="d-flex justify-content-around w-100"
  >
    <button mat-raised-button (click)="clear()">Törlés</button> &nbsp;
    <button mat-raised-button color="primary" (click)="applyFilter()">
      Szűrés
    </button>
  </div>
</mat-menu>
