footer {
    background-color: #1dd1a1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-text {
    color:white;
    padding: auto;
    margin: auto;
}