<p class="text-4xl my-3">Munkanapló</p>

<p-table
  *ngIf="timesheets"
  #dt1
  [value]="timesheets!.data"
  [lazy]="true"
  styleClass="p-datatable-gridlines p-datatable-striped"
  responsiveLayout="stack"
  [paginator]="true"
  [rows]="timesheets!.pageSize"
  [showCurrentPageReport]="true"
  [totalRecords]="timesheets!.totalCount"
  [loading]="this.employeeService.loading"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="{first} - {last} rekord a {totalRecords} összes rekordból."
  [globalFilterFields]="['dateTo', 'dateFrom', 'note']"
  (onPage)="paging($event)"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <button
        pButton
        label="Szűrők törlése"
        class="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="clear(dt1)"
      ></button>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Keresés..."
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="dateFrom" style="width: 20%">
        Mettől <p-sortIcon field="dateFrom"></p-sortIcon>
        <p-columnFilter
          type="date"
          field="dateFrom"
          display="menu"
        ></p-columnFilter>
      </th>
      <th pSortableColumn="dateTo" style="width: 20%">
        Meddig <p-sortIcon field="dateTo"></p-sortIcon>
        <p-columnFilter
          type="date"
          field="dateTo"
          display="menu"
        ></p-columnFilter>
      </th>
      <th style="width: 40%">Napok</th>
      <th pSortableColumn="note" style="width: 20%">
        Megjegyzés <p-sortIcon field="note"></p-sortIcon>
        <p-columnFilter
          type="text"
          field="note"
          display="menu"
        ></p-columnFilter>
      </th>
      <th style="width: 20%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-timesheet>
    <tr>
      <td>{{ timesheet.dateFrom | date : "yyyy.MM.dd." }}</td>
      <td>{{ timesheet.dateTo | date : "yyyy.MM.dd." }}</td>
      <td>{{ timesheet.days | daysFromIntArray }}</td>
      <td>{{ timesheet.note }}</td>
      <td>
        <div class="flex align-items-center justify-content-center gap-2">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            (click)="onDelete(timesheet.id)"
            class="p-button-rounded p-button-text p-button-danger"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">Nincsenek felvett munkahetek.</td>
    </tr>
  </ng-template>
</p-table>
